<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>MyStock - Stockmarket</title>
</head>
<body>
<div layout:fragment="content">

    <h2 th:text="#{stockmarket.header}">Section Title</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{portfolio.table.header.id}">#</th>
                <th th:text="#{portfolio.table.header.name}">Header 1</th>
                <th th:text="#{portfolio.table.header.price}">Header 2</th>
                <th th:text="#{portfolio.table.header.idBoerse}">Header 3</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${stockmarket}">
                <td th:text="${sb.id}">id 1</td>
                <td th:text="${sb.name}">content 2</td>
                <td th:text="${sb.price}">content 3</td>
                <td th:text="${sb.idBoerse}">content 4</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer>
    <p layout:fragment="custom-footer">
        Logged user: <span sec:authentication="name">Bob</span>
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </p>
</footer>
</body>
</html>