<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <!-- Custom styles -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>

    <title>MyStock - stockmarket</title>
</head>
<body>
<div layout:fragment="content">

    <!--Select-Form-->
    <form class="form-inline" th:action="@{/app/secure/stockmarket}" method="GET">
        <div class="form-group">
            <label th:for="market" th:text="#{stockmarket.selectMarket.placeholder}" class="sr-only">Select
                list</label>
            <select required="required" id="market" class="form-control" name="market">
                <option value="" disabled="disabled" selected="selected" hidden="hidden"
                        th:text="${param.market} != null ? ${param.market[0]} : #{stockmarket.selectMarket.placeholder}">placeholder
                </option>
                <!--/*--><!--@thymesVar id="exchangeMarkets" type="Set<String>"--><!--*/-->
                <option th:each="m : ${exchangeMarkets}" th:value="${m}" th:text="${m}">Stock 1
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{stockmarket.selectMarket.button}">Select Button</button>
    </form>
    <!--space-->
    <h2></h2>


    <!--Tabs-Bar-->
    <ul class="nav nav-tabs" style="margin-top: 5%">
        <li class="active"><a data-toggle="tab" href="#orders" th:text="#{stockmarket.tabs.orders}">Active Tab 1</a></li>
        <li><a data-toggle="tab" href="#stocks" th:text="#{stockmarket.tabs.stocks}">Tab 2</a></li>
    </ul>

    <div class="tab-content" style="margin-bottom: 5%">
        <!--Tabs-1.Tab-->
        <div id="orders" class="tab-pane fade in active">
            <!--Table-->
            <div class="table-responsive" style="height: 200px; overflow: auto">
                <!--/*--><!--@thymesVar id="errorOrder" type="String"--><!--*/-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{stockmarket.table.header.id}">#</th>
                        <th th:text="#{stockmarket.table.header.idStock}">Header 1</th>
                        <th th:text="#{stockmarket.table.header.amount}">Header 2</th>
                        <th th:text="#{stockmarket.table.header.price}">Header 3</th>
                        <th th:text="#{stockmarket.table.header.type}">Header 4</th>
                        <th th:text="#{stockmarket.table.header.timestamp}">Header 5</th>
                        <th th:text="#{stockmarket.table.header.idBoerse}">Header 6</th>
                        <th th:text="#{stockmarket.table.header.signature}">Header 7</th>
                        <th th:text="#{stockmarket.table.header.idBank}">Header 8</th>
                        <th th:text="#{stockmarket.table.header.idCustomer}">Header 9</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--/*--><!--@thymesVar id="orders" type="List<at.ac.fhsalzburg.DTO.OrderDto>"--><!--*/-->
                    <!--/*--><!--@thymesVar id="sb" type="at.ac.fhsalzburg.DTO.OrderDto"--><!--*/-->

                    <tr th:if="${error == null}" th:each="sb : ${orders}">
                        <td th:text="${sb.id}">id 1</td>
                        <td th:text="${sb.idStock}">content 2</td>
                        <td th:text="${sb.amount}">content 3</td>
                        <td th:text="${sb.price}">content 4</td>
                        <td th:text="${sb.type}">content 5</td>
                        <td th:text="${{sb.timeStamp}}">content 6</td>
                        <td th:text="${sb.idBoerse}">content 7</td>
                        <td th:text="${sb.signature}">content 8</td>
                        <td th:text="${sb.idBank}">content 9</td>
                        <td th:text="${sb.idCustomer}">content 10</td>
                    </tr>
                    </tbody>
                </table>
                <!--/*--><!--@thymesVar id="orders" type="List<at.ac.fhsalzburg.DTO.OrderDto>"--><!--*/-->
                <div class="alert alert-warning" style="text-align: center" th:classappend="'alert-warning'" th:if="${orders != null and orders.isEmpty()}" th:text="#{stockexchange.warning.ordersEmpty}">
                </div>
                <div class="alert alert-dismissable" style="text-align: center" th:classappend="'alert-danger'" th:if="${errorOrder != null and errorOrder == 'connection'}" th:text="#{stockexchange.error.connection}+ ' ' +  ${@environment.getProperty('stockExchange.orders')}">
                </div>
            </div>
        </div>
        <!--Tabs-2.Tab-->
        <div id="stocks" class="tab-pane fade">
            <div class="table-responsive" style="height: 200px; overflow: auto">
                <!--/*--><!--@thymesVar id="errorStock" type="String"--><!--*/-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{portfolio.table.header.id}">#</th>
                        <th th:text="#{portfolio.table.header.name}">Header 1</th>
                        <th th:text="#{portfolio.table.header.price}">Header 2</th>
                        <th th:text="#{portfolio.table.header.idBoerse}">Header 3</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--/*--><!--@thymesVar id="stocks" type="List<at.ac.fhsalzburg.DTO.StockDto>"--><!--*/-->
                    <!--/*--><!--@thymesVar id="sb" type="at.ac.fhsalzburg.DTO.StockDto"--><!--*/-->

                    <tr th:each="sb : ${stocks}">
                        <td th:text="${sb.id}">id 1</td>
                        <td th:text="${sb.name}">content 2</td>
                        <td th:text="${sb.price}">content 3</td>
                        <td th:text="${sb.idBoerse}">content 4</td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-dismissable" style="text-align: center" th:classappend="'alert-danger'" th:if="${stocks != null and stocks.isEmpty()}" th:text="#{stockexchange.error.emptyStock}">
                </div>
                <div class="alert alert-dismissable" style="text-align: center" th:classappend="'alert-danger'" th:if="${errorStock != null and errorStock == 'connection'}" th:text="#{stockexchange.error.connection}+ ' ' +  ${@environment.getProperty('stockExchange.stock')}">
                </div>
            </div>
        </div>
    </div>

    <!--order-form-->
    <!--/*--><!--@thymesVar id="newOrder" type="at.ac.fhsalzburg.DTO.OrderDto"--><!--*/-->

    <!--/*--><!--@thymesVar id="stocks" type="List<at.ac.fhsalzburg.DTO.StockDto>"--><!--*/-->
    <!--/*--><!--@thymesVar id="stock" type="at.ac.fhsalzburg.DTO.StockDto"--><!--*/-->
    <form class="form-inline" th:action="@{/app/secure/stockmarket}" th:object="${newOrder}" method="POST">
        <div class="form-group">
            <label for="idStock" th:text="#{stockmarket.order.selectStock.placeholder}" class="sr-only">Select
                list</label>
            <select required="required" id="idStock" name="idStock" class="form-control">
                <option value="" disabled="disabled" selected="selected" hidden="hidden"
                        th:text="#{stockmarket.order.selectStock.placeholder}">placeholder
                </option>
                <option th:each="stock : ${stocks}" th:value="${stock.id}" th:text="${stock.id}">Stock 1
                </option>
            </select>
        </div>
        <div class="input-group">
            <label class="sr-only" for="stockPrice" th:text="#{stockmarket.order.price.placeholder}">input field 1</label>
            <span class="input-group-addon">&euro;</span>
            <input type="number" step="0.01" class="form-control" id="stockPrice" placeholder="placeholder"
                   th:field="*{price}"
                   th:placeholder="#{stockmarket.order.price.placeholder}"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="stockAmount" th:text="#{stockmarket.order.amount.placeholder}">input field
                2</label>
            <input type="number" class="form-control" id="stockAmount"
                   th:field="*{amount}"
                   th:placeholder="#{stockmarket.order.amount.placeholder}"/>
        </div>
        <input type="hidden" th:if="${param.market != null}" th:value="${param.market[0]}" name="idBoerse"/>
        <input type="checkbox" data-toggle="toggle" data-style="quick"
               th:attr="data-on=#{stockmarket.order.type.buy}, data-off=#{stockmarket.order.type.sell}"
               th:id="type" th:name="type"
               th:value="'Buy'"
               data-onstyle="success" data-offstyle="danger"/>
        <button type="submit" class="btn btn-primary" th:text="#{stockmarket.order.button}">Select Button</button>
    </form>
    <div class="alert alert-dismissable" style="text-align: center" th:classappend="'alert-danger'" th:if="${stocks != null and stocks.isEmpty()}" th:text="#{stockexchange.error.emptyStock}">
    </div>
    <!--/*--><!--@thymesVar id="errorStock" type="String"--><!--*/-->
    <div class="alert alert-dismissable" style="text-align: center" th:classappend="'alert-danger'" th:if="${errorStock != null and errorStock == 'connection'}" th:text="#{stockexchange.error.connection}+ ' ' +  ${@environment.getProperty('stockExchange.stock')}">
    </div>
    <!--/*--><!--@thymesVar id="newOrderNotification" type="String"--><!--*/-->
    <div class="alert alert-dismissable" style="text-align: center" th:classappend="'alert-danger'" th:if="${newOrderNotification != null and newOrderNotification == 'error'}" th:text="#{stockexchange.error.newOrder}">
    </div>
    <div class="alert alert-success" style="text-align: center" th:if="${newOrderNotification != null and newOrderNotification == 'success'}" th:text="#{stockexchange.orderPassed}">
    </div>

</div>

<!--footer-->
<footer>
    <p layout:fragment="custom-footer">
        Logged user: <span sec:authentication="name">Bob</span>
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </p>
</footer>
</body>
</html>